alsa-lib-dev
bzip2-dev
coreutils
curl
fdk-aac-dev
freetype-dev
g++
gcc
git
imlib2-dev
lcms2-dev
libgcc
libjpeg-turbo-dev
libtheora-dev
libogg-dev
libva-dev
libvorbis-dev
libvpx-dev
libx11
libxau
libxcb
libxcb-dev
libxdamage
libxdmcp
libxext
libxfixes
libxfixes-dev
libxshmfence
libxxf86vm
make
musl-dev
nasm
nettle
opus-dev
pkgconf
pkgconf-dev
rtmpdump-dev
sdl-dev
tar
ttf-dejavu
v4l-utils-dev
x264-dev
x265-dev
xvidcore-dev
yasm-dev
zlib-dev