alsa-lib
bzip2
expat
fdk-aac
lame
libbz2
libdrm
libffi
libjpeg-turbo
libtheora
libogg
libpciaccess
librtmp
libstdc++
libtasn1
libva
libvorbis
libvpx
mesa-gl
mesa-glapi
musl
opus
openjdk8-jre
p11-kit
sdl
x264-libs
x264
x265
jasper-dev
libass-dev
gnutls-dev
libwebp-dev
lame-dev
v4l-utils-libs
xvidcore